html {
  font-family: "Anton", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #4E4D67;
}

.dark-mode {
  background-color: white;
}

.resume {
  background-color: #EBE8E0;
  border: none;
  color: white;
  margin-top: 40px;
  width: auto;
  cursor: pointer;
  font-size: 20px;
  align-items: center;
  padding: 0px;
}

.resume:hover {
  background-color: #869ACB;
}

/*THIS IS THE CODE FOR THE NAVBAR LAYOUT*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4E4D67;
  color: #EBE8E0;
  padding-bottom: -100px;
}

.logo {
  max-width: 250px;
  max-height: 150px;
  padding: 0 5px;
  overflow: hidden;
  margin: 0.2rem;
}

.navbarLinks ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbarLinks li {
  list-style: none;
}

.navbarLinks li a {
  text-decoration: none;
  color: #EBE8E0;
  padding: 2rem;
  display: block;
  font-size: 25px;
}

.navbarLinks a:hover {
  color: #869ACB;
}

.toggle {
  position: absolute;
  top: 6.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 41px;
  height: 31px;
}

.toggle .barsForMobile {
  height: 3px;
  width: 100%;
  background-color: #EBE8E0;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle {
    display: flex;
  }

  .navbarLinks {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbarLinks ul {
    width: 100%;
    flex-direction: column;
  }

  .navbarLinks li {
    text-align: center;
  }

  .navbarLinks a {
    padding: 0.5rem 1rem;
  }

  .navbarLinks.active {
    display: flex;
  }
}

/*THIS IS THE END OF THE CODE FOR THE NAVBAR LAYOUT*/

/*THIS IS THE CODE FOR THE MAIN TEXT LAYOUT*/

.cater3-movingBG {
  height: 100%;
  background-image: url("./Pictures/toronto.jpg");
  background-size: 125%;
  height: 100%;
  width: 105%;
  background-repeat: repeat-x;
  animation: animatedBackground 15s linear alternate infinite;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 50% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.flyinTxtCont {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 10%;
  margin-left: 2em;
}
.flyIn {
  color: #4E4D67;
  font-family: "Raleway";
  text-transform: uppercase;
  line-height: 1.2em;
  position: relative;
  text-shadow: 2px 2px 40px rgba(0, 0, 0, 0.2);
}
.lineOne {
  transition-delay: 0.2s;
  transition: 0.4s ease in;
  animation: txtFlyIn 0.3s linear;
  font-family: "Anton", sans-serif;
  padding-top: 10px;
}
.lineTwo {
  transition-delay: 0.4s;
  transition: 0.6s ease in;
  animation: txtFlyIn 0.6s linear;
  font-family: "Anton", sans-serif;
}
.lineThree {
  transition-delay: 0.6s;
  transition: 0.8s ease in;
  animation: txtFlyIn 0.9s linear;
  font-family: "Anton", sans-serif;
}
.lineOne,
.lineTwo,
.lineThree {
  font-size: 110px;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: "Anton", sans-serif;
}
.lineFour {
  transition-delay: 2s;
  transition: 2s ease in;
  animation: fadeIn 2s linear;
  width: 90%;
  background-color: #869ACB;
  display: inline-block;
  color: #4E4D67;
  box-size: border-box;
  max-width: 63%;
  max-width: 22em;
  font-size: 32px;
  padding: 0.2em 0.5em;
  margin-top: 30px;
  font-family: "Anton", sans-serif;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes txtFlyIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 1050px) {
  .lineOne {
    font-size: 45px;
  }
  .lineTwo {
    font-size: 45px;
  }
  .lineThree {
    font-size: 45px;
  }
  .lineFour {
    font-size: 25px;
  }
}

/*THIS IS THE END OF THE CODE FOR THE MAIN TEXT LAYOUT*/

/*THIS IS THE CODE PROJECTS SECTION*/

.format {
  justify-content: center;
  align-content: center;
}

.project_heading {
  position: relative;
}

.project_heading h1 {
  padding-bottom: 50px;
}

.projects {
  align-content: center;
  margin: 4px;
}

.projects h1 {
  text-align: center;
  font-size: 50px;
  color: #869ACB;
}

.projects h2 {
  text-align: center;
  font-size: 40px;
  color: #869ACB;
}

.SStarImage {
  position: absolute;
  width: 100%;
  height: 200vh;
}

/*THIS IS THE CODE FOR THE FLIP CARDS LAYOUT*/

.services {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: top;

  width: 100%;
}
.s-heading {
  text-align: center;
  width: 100%;
}
.s-heading h1 {
  color: white;
  font-size: 5.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0px;

  width: 100%;
}
.s-heading p {
  color: #869ACB;
  font-size: 3rem;
  margin: 5px;
  text-align: center;
}
.s-box-container {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.s-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 500px;
  padding: 8px 25px;
  height: 500px;
  box-sizing: border-box;
  margin: 30px;
  position: relative;
}
.s-box img {
  height: 300px;
  width: 100%;
  padding: 5px;
}

.picture2 img {
  height: 100%;
  width: 100%;
}

.s-box h1 {
  color: #869ACB;
  letter-spacing: 1px;
  font-size: 3rem;
  margin-bottom: 8px;
}
.s-box p {
  color: #869ACB;
  text-align: center;
  font-size: 1.8rem;
}
.s-btn {
  width: 140px;
  height: 80px;
  border-radius: 20px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #869ACB;
  margin-top: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  margin-bottom: 10px;
}
.bar {
  width: 100px;
  height: 6px;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  display: none;
  animation: bar 0.8s;
}
.s-box:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
  transition: all ease 0.5s;
}
.s-btn:hover {
  background-color: darkgrey;
  border: 1px solid white;
  color: #ffffff;
  transition: all ease 0.3s;
}

@media (max-width: 1050px) {
  .s-box-container {
    flex-wrap: wrap;
    width: 100%;
    padding-top: 5px;
  }
  .services {
    height: auto;
  }
  .s-heading {
    margin: 15px;
  }
  .s-box {
    flex-grow: 3;
  }
}

/*THIS IS THE END OF THE CODE FOR THE FLIP CARD LAYOUT*/

/*THIS IS THE END OF THE CODE FOR THE  PROJECTS SECTION*/

/*THIS IS THE CODE FOR THE ABOUT ME SECTION*/

.aboutMe h1 {
  font-size: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  font-size: 3rem;
  margin-bottom: 8px;
  position: relative;
}

.aboutMe h2 {
  color: #869ACB;
}

.icons {
  width: 100%; /* Full-width */
  overflow: auto; /* Overflow due to float */
}

.iconsSorted {
  margin-left: 30%;
  justify-content: center;
}

.icons img {
  float: none; /* Float links side by side */
  width: 10%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
}

.changeColor {
  color: white;
}

/*THIS IS THE END OF THE CODE FOR THE ABOUT ME SECTION*/
