html {
    scroll-behavior: smooth;

  }
  
  *{
  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    align-items: center;
  
  }
  
  body{
    margin: 0;
    padding: 0;
  }


  /*THIS IS THE CODE FOR THE NAVBAR LAYOUT*/
  /*THIS IS THE END OF THE CODE FOR THE NAVBAR LAYOUT*/





/*THIS IS THE CODE FOR THE VIDEO LAYOUT*/


.video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}


.text-box{
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.text-box h1{
    color: white;
    text-align: center;

}
/*THIS IS THE END OF THE CODE FOR THE VIDEO LAYOUT*/


/*THIS IS THE CODE PROJECTS SECTION*/


.format{
  justify-content: center;
  align-content: center;
}

.project_heading{
  padding-top: 285px;
  color: white;
  position: relative;
}

.projects{
  align-content: center;
  margin: 4px;
}

.projects h1{
    text-align: center;
    font-size: 50px;;
    color: white;
}

.projects h2{
    text-align: center;
    font-size: 40px;
    color: white;
}

.SStarImage{
    position: absolute;
    width: 100%;
    height: 200vh;
}

/*THIS IS THE CODE FOR THE FLIP CARDS LAYOUT*/


.ChangeColor{
    color: white;
  }
  
  
  .services{
      width:100%;
      height: 70vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    vertical-align: top;
  }
  .s-heading{
      text-align:center;
  }
  .s-heading h1{
      color:white;
      font-size: 5.5rem;
      font-weight: 400;
      letter-spacing: 1px;
      margin: 0px;
  }
  .s-heading p{
      color: white;
      font-size: 3rem;
      margin: 5px;
      text-align: center;
  }
  .s-box-container{
      width:100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
  }
  .s-box{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      width:500px;
      padding: 8px 25px;
      height: 500px;
      box-sizing: border-box;
      margin: 30px;
      position: relative;
  }
  .s-box img{
      height: 300px;
    width: 100%;
    padding: 5px;
  }
  .s-box h1{
      color:white;
      letter-spacing: 1px;
      font-size: 3rem;
      margin-bottom: 8px;
      
  }
  .s-box p{
      color: white;
      text-align: center;
    font-size: 1.8rem;
  }
  .s-btn{
      width: 140px;
      height: 40px;
      border-radius: 20px;
      border:1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:white;
      margin-top:10px; 
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
  }
  .bar{
      width: 100px;
      height: 6px;
      position: absolute;
      left: 50%;
      top: 0%;
      transform: translateX(-50%);
      background-color:#CFBCDF; 
      border-radius: 0px 0px 10px 10px;
      display: none;
      animation: bar 0.8s;
  }
  .s-box:hover{
      box-shadow: 2px 2px 30px rgba(0,0,0,0.08);
      transition: all ease 0.5s;
  }
  .s-btn:hover{
      background-color:orangered;
      border: 1px solid orangered;
      color:#FFFFFF;
      transition: all ease 0.3s;
  }
  .s-box:hover .bar{
      display: block;
  }
  @keyframes bar{
      0%{
          width:0px;
      }
      100%{
          width:100px;
      }
  }
  @media(max-width:1050px){
      .s-box-container{
          flex-wrap: wrap;
          
      }	
      .services{
          height: auto;
      }
      .s-heading{
          margin: 15px;
      }
      .s-box{
          flex-grow: 3;
      }
      
  }
  
  
  
  
  /*THIS IS THE END OF THE CODE FOR THE FLIP CARD LAYOUT*/

/*THIS IS THE END OF THE CODE FOR THE  PROJECTS SECTION*/






.aboutMe h1{
  font-size: 80px;
  padding-top: 0px;
  align-content: center;
  flex-direction: column;
  text-align: center;
  color: black;
  letter-spacing: 1px;
  font-size: 3rem;
  margin-bottom: 8px;
  position: relative;
}






.grid {
  display: flex;
  align-content: center;
  padding-left: 600px;
  padding-right: 500px;
  padding-top: 50px;
  grid-gap: 4rem;
}

.grid img {
  align-content: center;
  max-width: 70%;
  height: 90px;
  position: relative;
}

body {
  margin: 2rem;
}





















.footer {
  padding: 55px;
  color: white;
  position: relative;
  align-items: center;
}

.footer h1{
  color: white;
}


.button {
  border: none;
  color: black;
  font-size: 24px;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 40px 700px;
  cursor: pointer;
  border-radius: 16px;
  align-self: center;
}

.button a{
  text-decoration: none;
  color: black;
}